<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Jobs - Careers</title>

	<!-- Stylesheets -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

	<!--[if IE 9]>
		<script src="js/media.match.min.js"></script>
	<![endif]-->
</head>

<body>
<div id="main-wrapper">

	<header id="header" class="header-style-1">
		<div class="header-top-bar">
			<div class="container">

				<!-- Header Language -->
				<div class="header-language clearfix">
					<ul>
						<li class="active"><a href="#">En</a></li>
						<li><a href="#">Fr</a></li>
						<li><a href="#">De</a></li>
						<li><a href="#">It</a></li>
					</ul>
				</div> <!-- end .header-language -->

				<!-- Bookmarks -->
				<a href="#" class="btn btn-link bookmarks">Bookmarks</a>

				<!-- Header Register -->
				<div class="header-register">
					<a href="#" class="btn btn-link">Register</a>
					<div>
						<form action="#">
							<input type="text" class="form-control" placeholder="Username">
							<input type="email" class="form-control" placeholder="Email">
							<input type="password" class="form-control" placeholder="Password">
							<input type="submit" class="btn btn-default" value="Register">
						</form>
					</div>
				</div> <!-- end .header-register -->

				<!-- Header Login -->
				<div class="header-login">
					<a href="#" class="btn btn-link">Login</a>
					<div>
						<form action="#">
							<input type="text" class="form-control" placeholder="Username">
							<input type="password" class="form-control" placeholder="Password">
							<input type="submit" class="btn btn-default" value="Login">
							<a href="#" class="btn btn-link">Forgot Password?</a>
						</form>
					</div>
				</div> <!-- end .header-login -->

			</div> <!-- end .container -->
		</div> <!-- end .header-top-bar -->

		<div class="header-nav-bar">
			<div class="container">

				<!-- Logo -->
				<div class="css-table logo">
					<div class="css-table-cell">
						<a href="index.html">
							<img src="img/header-logo.png" alt="">
						</a> <!-- end .logo -->
					</div>
				</div>

				<!-- Mobile Menu Toggle -->
				<a href="#" id="mobile-menu-toggle"><span></span></a>

				<!-- Primary Nav -->
				<nav>
					<ul class="primary-nav">
						<li class="has-submenu">
							<a href="index.html">Home</a>
							<ul>
								<li><a href="index.html">Home with Boxes</a></li>
								<li><a href="homepage-slider.html">Home with Slider</a></li>
							</ul>
						</li>
						<li class="active has-submenu">
							<a href="jobs.html">Jobs</a>
							<ul>
								<li><a href="jobs.html">Jobs Listings</a></li>
								<li><a href="jobs-single.html">Jobs Details</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="candidates.html">Candidates</a>
							<ul>
								<li><a href="candidates.html">Candidates Listings</a></li>
								<li><a href="candidates-sidebar.html">Candidates Listings Sidebar</a></li>
								<li><a href="candidates-single.html">Candidates Details</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="about-us.html">About Us</a>
							<ul>
								<li><a href="partners.html">Partners</a></li>
								<li><a href="contact-us.html">Contact Us</a></li>
							</ul>
						</li>
						<li><a href="register.html">Register</a></li>
						<li><a href="shortcodes.html">Shortcodes</a></li>
					</ul>
				</nav>
			</div> <!-- end .container -->

			<div id="mobile-menu-container" class="container">
				<div class="login-register"></div>
				<div class="menu"></div>
			</div>
		</div> <!-- end .header-nav-bar -->

		<div class="header-page-title">
			<div class="container">
				<h1>Available Jobs <small>(350)</small></h1>

				<ul class="breadcrumbs">
					<li><a href="#">Home</a></li>
					<li><a href="#">Jobs</a></li>
				</ul>
			</div>
		</div>
	</header> <!-- end #header -->

	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 page-sidebar">
					<aside>
						<div class="white-container mb0">
							<div class="widget sidebar-widget jobs-search-widget">
								<h5 class="widget-title">Search</h5>

								<div class="widget-content">
									<span>I'm looking for a ...</span>

									<select class="form-control mt10 mb10">
										<option value="0">Job</option>
										<option value="">Category</option>
										<option value="">Category</option>
										<option value="">Category</option>
										<option value="">Category</option>
									</select>

									<span>in</span>

									<input type="text" class="form-control mt10" placeholder="Location">

									<input type="text" class="form-control mt15 mb15" placeholder="Industry / Role">

									<input type="submit" class="btn btn-default" value="Search">
								</div>
							</div>

							<div class="widget sidebar-widget jobs-filter-widget">
								<h5 class="widget-title">Filter Results</h5>

								<div class="widget-content">
									<h6>By Region</h6>

									<div>
										<ul class="filter-list">
											<li>
												<a href="#">Asia <span>(1234)</span></a>
												<ul>
													<li>
														<a href="#">Asia <span>(1234)</span></a>
														<ul>
															<li><a href="#">Asia <span>(1234)</span></a></li>
															<li><a href="#">Africa <span>(5678)</span></a></li>
															<li><a href="#">Europe <span>(910)</span></a></li>
															<li><a href="#">North America <span>(347)</span></a></li>
															<li><a href="#">Central America <span>(52)</span></a></li>
															<li><a href="#">South America <span>(117)</span></a></li>
															<li><a href="#">Oceania <span>(736)</span></a></li>
														</ul>
													</li>
													<li><a href="#">Africa <span>(5678)</span></a></li>
													<li><a href="#">Europe <span>(910)</span></a></li>
													<li><a href="#">North America <span>(347)</span></a></li>
													<li><a href="#">Central America <span>(52)</span></a></li>
													<li><a href="#">South America <span>(117)</span></a></li>
													<li><a href="#">Oceania <span>(736)</span></a></li>
												</ul>
											</li>
											<li><a href="#">Africa <span>(5678)</span></a></li>
											<li><a href="#">Europe <span>(910)</span></a></li>
											<li><a href="#">North America <span>(347)</span></a></li>
											<li><a href="#">Central America <span>(52)</span></a></li>
											<li><a href="#">South America <span>(117)</span></a></li>
											<li><a href="#">Oceania <span>(736)</span></a></li>
										</ul>

										<a href="#" class="toggle"></a>
									</div>

									<h6>By Industry</h6>

									<div>
										<ul class="filter-list">
											<li><a href="#">Administration <span>(75)</span></a></li>
											<li><a href="#">Manufactoring <span>(3741)</span></a></li>
											<li><a href="#">Healthcare &amp; Science <span>(115)</span></a></li>
											<li><a href="#">Media &amp; Creative <span>(347)</span></a></li>
											<li><a href="#">Transportation <span>(52)</span></a></li>
										</ul>

										<a href="#" class="toggle"></a>
									</div>

									<h6>By Type</h6>

									<div>
										<ul class="filter-list">
											<li><a href="#">Banking/Finance <span>(300)</span></a></li>
											<li><a href="#">Administration <span>(758)</span></a></li>
											<li><a href="#">Art/Design/Creative <span>(20)</span></a></li>
											<li><a href="#">Customer Service <span>(165)</span></a></li>
											<li><a href="#">Education/Training <span>(11)</span></a></li>
											<li><a href="#">Banking/Finance <span>(9)</span></a></li>
										</ul>

										<a href="#" class="toggle"></a>
									</div>

									<h6>Type of Contract</h6>

									<div class="checkbox"><label><input type="checkbox"> Full-Time</label></div>
									<div class="checkbox"><label><input type="checkbox"> Part-Time</label></div>
									<div class="checkbox"><label><input type="checkbox"> Freelance</label></div>
									<div class="checkbox"><label><input type="checkbox"> Internship</label></div>

									<h6>Work Experience</h6>

									<div class="checkbox"><label><input type="checkbox"> Not Applicable</label></div>
									<div class="checkbox"><label><input type="checkbox"> Mid-Senior Level</label></div>
									<div class="checkbox"><label><input type="checkbox"> Entry Level</label></div>
									<div class="checkbox"><label><input type="checkbox"> Associate</label></div>
									<div class="checkbox"><label><input type="checkbox"> Director</label></div>
									<div class="checkbox"><label><input type="checkbox"> Internship</label></div>
									<div class="checkbox"><label><input type="checkbox"> Executive</label></div>

									<h6>Work Permit</h6>

									<div class="radio"><label><input type="radio"> Full-Time</label></div>
									<div class="radio"><label><input type="radio"> Part-Time</label></div>
									<div class="radio"><label><input type="radio"> Freelance</label></div>

									<h6>Date Posted</h6>

									<div class="range-slider clearfix">
										<div class="slider" data-min="1" data-max="60"></div>
										<div class="first-value"><span>1</span> days</div>
										<div class="last-value"><span>60</span> days</div>
									</div>

									<h6>Salary Range</h6>

									<div class="range-slider clearfix">
										<div class="slider" data-min="1" data-max="100000"></div>
										<div class="first-value">$ <span>1</span></div>
										<div class="last-value">$ <span>100000</span></div>
									</div>

									<input type="submit" class="btn btn-default mt30" value="Filter">
								</div>
							</div>
						</div>
					</aside>
				</div> <!-- end .page-sidebar -->

				<div class="col-sm-8 page-content">
					<div id="jobs-page-map" class="white-container"></div>

					<div class="title-lines">
						<h3 class="mt0">Available Jobs</h3>
					</div>

					<div class="clearfix mb30">
						<ul class="jobs-view-toggle pull-left">
							<li><a href="#" data-layout="with-thumb" class="btn btn-gray fa fa-th-list active"></a></li>
							<li><a href="#" data-layout="" class="btn btn-gray fa fa-list"></a></li>
							<li><a href="#" data-layout="compact" class="btn btn-gray fa fa-align-justify"></a></li>
						</ul>

						<select class="form-control pull-left">
							<option value="">Sort By</option>
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>

						<ul class="pagination pull-right">
							<li><a href="#" class="fa fa-angle-left"></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#" class="fa fa-angle-right"></a></li>
						</ul>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-00.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-01.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-02.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-03.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-04.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-05.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="img/content/bus-06.png" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">27 <span>Jun</span></div>
						<h6 class="title"><a href="#">Front-end Developer</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-link"></a></li>
						</ul>

						<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae. <a href="#" class="read-more">Read More</a></p>

						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

							<h5>Required Skills</h5>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Web Design</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">Development</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<div class="progress-bar toggle" data-progress="60">
								<a href="#" class="progress-bar-toggle"></a>
								<h6 class="progress-bar-title">UI/UX</h6>
								<div class="progress-bar-inner"><span></span></div>
								<div class="progress-bar-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
								</div>
							</div>

							<h5>Additional Requirements</h5>

							<ul class="additional-requirements clearfix">
								<li>Work Permit</li>
								<li>5 Years Experience</li>
								<li>MBA</li>
								<li>Magento Certified</li>
								<li>Perfect Written &amp; Spoken English</li>
							</ul>

							<hr>

							<div class="clearfix">
								<a href="#" class="btn btn-default pull-left">Apply for this Job</a>

								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="clearfix">
						<ul class="pagination pull-right">
							<li><a href="#" class="fa fa-angle-left"></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#" class="fa fa-angle-right"></a></li>
						</ul>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-4">
					<div class="widget">
						<div class="widget-content">
							<img class="logo" src="img/header-logo.png" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sunt illum dolore dolor vel perferendis nisi sequi laudantium porro blanditiis!</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-4">
					<div class="widget">
						<h6 class="widget-title">Navigation</h6>

						<div class="widget-content">
							<div class="row">
								<div class="col-xs-6 col-sm-12 col-md-6">
									<ul class="footer-links">
										<li><a href="#">Home</a></li>
										<li><a href="#">Jobs</a></li>
										<li><a href="#">Candidates</a></li>
										<li><a href="#">Partners</a></li>
									</ul>
								</div>

								<div class="col-xs-6 col-sm-12 col-md-6">
									<ul class="footer-links">
										<li><a href="#">About Us</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Terms &amp; Conditions</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-2">
					<div class="widget">
						<h6 class="widget-title">Follow Us</h6>

						<div class="widget-content">
							<ul class="footer-links">
								<li><a href="#">Blog</a></li>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Youtube</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-2">
					<div class="widget">
						<h6 class="widget-title">Popular Jobs</h6>

						<div class="widget-content">
							<ul class="footer-links">
								<li><a href="#">Web Developer</a></li>
								<li><a href="#">Web Designer</a></li>
								<li><a href="#">UX Engineer</a></li>
								<li><a href="#">Account Manager</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<p>&copy; Copyright 2014 <a href="#">Careers</a> | All Rights Reserved | Powered by <a href="#">UOU Apps</a></p>

				<ul class="footer-social">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
				</ul>
			</div>
		</div>
	</footer> <!-- end #footer -->

</div> <!-- end #main-wrapper -->

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
<script src="js/maplace.min.js"></script>
<script src="js/jquery.ba-outside-events.min.js"></script>
<script src="js/jquery.responsive-tabs.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>