<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Shortcodes - Careers</title>

	<!-- Stylesheets -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

	<!--[if IE 9]>
		<script src="js/media.match.min.js"></script>
	<![endif]-->
</head>

<body>
<div id="main-wrapper">

	<header id="header" class="header-style-1">
		<div class="header-top-bar">
			<div class="container">

				<!-- Header Language -->
				<div class="header-language clearfix">
					<ul>
						<li class="active"><a href="#">En</a></li>
						<li><a href="#">Fr</a></li>
						<li><a href="#">De</a></li>
						<li><a href="#">It</a></li>
					</ul>
				</div> <!-- end .header-language -->

				<!-- Bookmarks -->
				<a href="#" class="btn btn-link bookmarks">Bookmarks</a>

				<!-- Header Register -->
				<div class="header-register">
					<a href="#" class="btn btn-link">Register</a>
					<div>
						<form action="#">
							<input type="text" class="form-control" placeholder="Username">
							<input type="email" class="form-control" placeholder="Email">
							<input type="password" class="form-control" placeholder="Password">
							<input type="submit" class="btn btn-default" value="Register">
						</form>
					</div>
				</div> <!-- end .header-register -->

				<!-- Header Login -->
				<div class="header-login">
					<a href="#" class="btn btn-link">Login</a>
					<div>
						<form action="#">
							<input type="text" class="form-control" placeholder="Username">
							<input type="password" class="form-control" placeholder="Password">
							<input type="submit" class="btn btn-default" value="Login">
							<a href="#" class="btn btn-link">Forgot Password?</a>
						</form>
					</div>
				</div> <!-- end .header-login -->

			</div> <!-- end .container -->
		</div> <!-- end .header-top-bar -->

		<div class="header-nav-bar">
			<div class="container">

				<!-- Logo -->
				<div class="css-table logo">
					<div class="css-table-cell">
						<a href="index.html">
							<img src="img/header-logo.png" alt="">
						</a> <!-- end .logo -->
					</div>
				</div>

				<!-- Mobile Menu Toggle -->
				<a href="#" id="mobile-menu-toggle"><span></span></a>

				<!-- Primary Nav -->
				<nav>
					<ul class="primary-nav">
						<li class="has-submenu">
							<a href="index.html">Home</a>
							<ul>
								<li><a href="index.html">Home with Boxes</a></li>
								<li><a href="homepage-slider.html">Home with Slider</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="jobs.html">Jobs</a>
							<ul>
								<li><a href="jobs.html">Jobs Listings</a></li>
								<li><a href="jobs-single.html">Jobs Details</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="candidates.html">Candidates</a>
							<ul>
								<li><a href="candidates.html">Candidates Listings</a></li>
								<li><a href="candidates-sidebar.html">Candidates Listings Sidebar</a></li>
								<li><a href="candidates-single.html">Candidates Details</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="about-us.html">About Us</a>
							<ul>
								<li><a href="partners.html">Partners</a></li>
								<li><a href="contact-us.html">Contact Us</a></li>
							</ul>
						</li>
						<li><a href="register.html">Register</a></li>
						<li class="active"><a href="shortcodes.html">Shortcodes</a></li>
					</ul>
				</nav>
			</div> <!-- end .container -->

			<div id="mobile-menu-container" class="container">
				<div class="login-register"></div>
				<div class="menu"></div>
			</div>
		</div> <!-- end .header-nav-bar -->

		<div class="header-page-title">
			<div class="container">
				<h1>Shortcodes</h1>

				<ul class="breadcrumbs">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shortcodes</a></li>
				</ul>
			</div>
		</div>
	</header> <!-- end #header -->

	<div id="page-content">
		<div class="container">
			<h1>Header 1</h1>
			<h2>Header 2</h2>
			<h3>Header 3</h3>
			<h4>Header 4</h4>
			<h5>Header 5</h5>
			<h6>Header 6</h6>

			<br><br>

			<h3>Text Columns</h3>

			<div class="row">
				<div class="col-sm-12">
					<h6>1/1</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id temporibus nemo nam itaque ratione illo quaerat tempora fugiat porro nihil inventore aliquam deleniti atque quibusdam quidem eos ea quo eligendi ad labore consectetur nisi quas commodi et totam error possimus ut officiis recusandae praesentium ab ducimus. Molestiae, sunt, amet, explicabo vel nulla error esse ad iusto vitae eaque.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<h6>1/2</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id temporibus nemo nam itaque ratione.</p>
				</div>

				<div class="col-sm-6">
					<h6>1/2</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id temporibus nemo nam itaque ratione.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<h6>1/3</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae.</p>
				</div>

				<div class="col-sm-4">
					<h6>1/3</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae.</p>
				</div>

				<div class="col-sm-4">
					<h6>1/3</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<h6>1/4</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit.</p>
				</div>

				<div class="col-sm-3">
					<h6>1/4</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit.</p>
				</div>

				<div class="col-sm-3">
					<h6>1/4</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit.</p>
				</div>

				<div class="col-sm-3">
					<h6>1/4</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit.</p>
				</div>
			</div>

			<br><br>

			<h3>Skill Bars</h3>

			<div class="row">
				<div class="col-sm-6">
					<div class="progress-bar" data-progress="60">
						<h6 class="progress-bar-title">Web Design</h6>
						<div class="progress-bar-inner"><span></span></div>
					</div>

					<div class="progress-bar" data-progress="75">
						<h6 class="progress-bar-title">Development</h6>
						<div class="progress-bar-inner"><span></span></div>
					</div>

					<div class="progress-bar" data-progress="90">
						<h6 class="progress-bar-title">UI/UX</h6>
						<div class="progress-bar-inner"><span></span></div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="progress-bar style-2" data-progress="60">
						<h6 class="progress-bar-title">Web Design</h6>
						<div class="progress-bar-inner"><span></span></div>
					</div>

					<div class="progress-bar style-2" data-progress="75">
						<h6 class="progress-bar-title">Development</h6>
						<div class="progress-bar-inner"><span></span></div>
					</div>

					<div class="progress-bar style-2" data-progress="90">
						<h6 class="progress-bar-title">UI/UX</h6>
						<div class="progress-bar-inner"><span></span></div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="progress-bar toggle" data-progress="60">
						<a href="#" class="progress-bar-toggle"></a>
						<h6 class="progress-bar-title">Web Design</h6>
						<div class="progress-bar-inner"><span></span></div>
						<div class="progress-bar-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
						</div>
					</div>

					<div class="progress-bar toggle" data-progress="75">
						<a href="#" class="progress-bar-toggle"></a>
						<h6 class="progress-bar-title">Development</h6>
						<div class="progress-bar-inner"><span></span></div>
						<div class="progress-bar-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, modi.
						</div>
					</div>

					<div class="progress-bar toggle active" data-progress="90">
						<a href="#" class="progress-bar-toggle"></a>
						<h6 class="progress-bar-title">UI/UX</h6>
						<div class="progress-bar-inner"><span></span></div>
						<div class="progress-bar-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, aperiam.
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="progress-bar toggle style-2" data-progress="60">
						<a href="#" class="progress-bar-toggle"></a>
						<h6 class="progress-bar-title">Web Design</h6>
						<div class="progress-bar-inner"><span></span></div>
						<div class="progress-bar-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
						</div>
					</div>

					<div class="progress-bar toggle style-2" data-progress="75">
						<a href="#" class="progress-bar-toggle"></a>
						<h6 class="progress-bar-title">Development</h6>
						<div class="progress-bar-inner"><span></span></div>
						<div class="progress-bar-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, modi.
						</div>
					</div>

					<div class="progress-bar toggle style-2 active" data-progress="90">
						<a href="#" class="progress-bar-toggle"></a>
						<h6 class="progress-bar-title">UI/UX</h6>
						<div class="progress-bar-inner"><span></span></div>
						<div class="progress-bar-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, aperiam.
						</div>
					</div>
				</div>
			</div>

			<h3>Circles</h3>

			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="progress-circle" data-progress="75">
						<h3>WordPress Design</h3>
					</div>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="progress-circle" data-progress="50">
						<h3>WordPress Dev</h3>
					</div>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="progress-circle" data-progress="100">
						<h3>HTML 5, CSS 3</h3>
					</div>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="progress-circle" data-progress="25">
						<h3>Word, Powerpoint</h3>
					</div>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="progress-circle" data-progress="75">
						<h3>Android Dev</h3>
					</div>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="progress-circle" data-progress="87">
						<h3>Mobile Design</h3>
					</div>
				</div>
			</div>

			<h3>Counters</h3>

			<div class="row">
				<div class="col-sm-3">
					<div class="animated-counter" data-number="143">
						<i class="fa fa-comments-o"></i>
						<span>0</span>
						<h3>Lorem Ipsum Dolor</h3>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="animated-counter" data-number="77">
						<i class="fa fa-volume-up"></i>
						<span>0</span>
						<h3>Lorem Ipsum Dolor</h3>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="animated-counter" data-number="11786">
						<i class="fa fa-coffee"></i>
						<span>0</span>
						<h3>Lorem Ipsum Dolor</h3>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="animated-counter" data-number="999999">
						<i class="fa fa-lightbulb-o"></i>
						<span>0</span>
						<h3>Lorem Ipsum Dolor</h3>
					</div>
				</div>
			</div>

			<h3>Tables</h3>

			<h6>Default</h6>

			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>

			<h6>Striped</h6>

			<table class="table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>

			<h6>Hover</h6>

			<table class="table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>

			<h6>Condensed</h6>

			<table class="table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>

			<h6>Bordered</h6>

			<table class="table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>

			<h6>Responsive</h6>

			<div class="table-responsive">
				<table class="table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>

						<tr>
							<td>2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h3>Pricing Tables</h3>

			<div class="pricing-tables tables-4">
				<div class="pricing-tables-column">
					<div class="white-container">
						<h5 class="title">Bronze</h5>

						<span class="price">$ 15</span>

						<ul class="features">
							<li>1 Job Ad</li>
							<li>30 Days</li>
							<li>Standard Positioning</li>
							<li>1 Lorem Ipsum</li>
						</ul>

						<a href="#" class="btn btn-default">Choose</a>
					</div>
				</div>

				<div class="pricing-tables-column">
					<div class="white-container">
						<h5 class="title">Silver</h5>

						<span class="price">$ 49</span>

						<ul class="features">
							<li>5 Job Ad</li>
							<li>45 Days</li>
							<li>Extended Positioning</li>
							<li>5 Lorem Ipsum</li>
						</ul>

						<a href="#" class="btn btn-default">Choose</a>
					</div>
				</div>

				<div class="pricing-tables-column">
					<div class="white-container">
						<h5 class="title">Gold</h5>

						<span class="price">$ 99</span>

						<ul class="features">
							<li>10 Job Ad</li>
							<li>60 Days</li>
							<li>Extra Positioning</li>
							<li>5 Lorem Ipsum</li>
						</ul>

						<a href="#" class="btn btn-default">Choose</a>
					</div>
				</div>

				<div class="pricing-tables-column">
					<div class="white-container">
						<h5 class="title">Gold</h5>

						<span class="price">$ 199</span>

						<ul class="features">
							<li>100 Job Ad</li>
							<li>1 Year</li>
							<li>Extra Positioning</li>
							<li>Unlimited Lorem Ipsum</li>
						</ul>

						<a href="#" class="btn btn-default">Choose</a>
					</div>
				</div>
			</div> <!-- end .pricing-tables -->

			<h3>Tabs</h3>

			<div class="row">
				<div class="col-md-6">
					<div class="responsive-tabs">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-h-1">Tab 1</a></li>
							<li><a href="#tab-h-2">Tab 2</a></li>
							<li><a href="#tab-h-3">Tab 3</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="tab-h-1">
								<h6 class="mt0">Horizontal Tabs Content</h6>
								Comments. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laudantium, reprehenderit illum autem temporibus similique incidunt molestiae nostrum dolore inventore minus sed impedit culpa voluptatum consectetur adipisci dolorem recusandae numquam.
							</div>

							<div class="tab-pane" id="tab-h-2">
								Comments. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laudantium, reprehenderit illum autem temporibus similique incidunt molestiae nostrum dolore inventore minus sed impedit culpa voluptatum consectetur adipisci dolorem recusandae numquam.
							</div>

							<div class="tab-pane" id="tab-h-3">
								Update Log. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, nulla, quo aut dignissimos iste sapiente provident dolorum excepturi adipisci aliquid incidunt quam velit fugit ipsam illo! Quos, ullam libero repellendus.
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="responsive-tabs vertical">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-v-1">Tab 1</a></li>
							<li><a href="#tab-v-2">Tab 2</a></li>
							<li><a href="#tab-v-3">Tab 3</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="tab-v-1">
								<h6 class="mt0">Vertical Tabs Content</h6>
								Comments. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laudantium, reprehenderit illum autem temporibus similique incidunt molestiae nostrum dolore inventore minus sed impedit culpa voluptatum consectetur adipisci dolorem recusandae numquam.
							</div>

							<div class="tab-pane" id="tab-v-2">
								Comments. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laudantium, reprehenderit illum autem temporibus similique incidunt molestiae nostrum dolore inventore minus sed impedit culpa voluptatum consectetur adipisci dolorem recusandae numquam.
							</div>

							<div class="tab-pane" id="tab-v-3">
								Update Log. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, nulla, quo aut dignissimos iste sapiente provident dolorum excepturi adipisci aliquid incidunt quam velit fugit ipsam illo! Quos, ullam libero repellendus.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<h3>Accordion</h3>

					<div class="accordion">
						<ul>
							<li class="active">
								<a href="#">Lorem ipsum dolor</a>
								<div>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, officia, consequuntur et est tempore.
								</div>
							</li>

							<li>
								<a href="#">Lorem ipsum dolor</a>
								<div>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, officia, consequuntur et est tempore.
								</div>
							</li>

							<li>
								<a href="#">Lorem ipsum dolor</a>
								<div>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, officia, consequuntur et est tempore.
								</div>
							</li>

							<li>
								<a href="#">Lorem ipsum dolor</a>
								<div>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, officia, consequuntur et est tempore.
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-md-8">
					<h3>Alert Boxes</h3>

					<div class="alert">
						<h6>This is a default message box</h6>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert">
						<h6>This is a default message box</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, soluta!</p>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-success">
						<h6>This is a success message box</h6>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-success">
						<h6>This is a success message box</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, soluta!</p>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-info">
						<h6>This is a info message box</h6>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-info">
						<h6>This is a info message box</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, soluta!</p>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-warning">
						<h6>This is a warning message box</h6>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-warning">
						<h6>This is a warning message box</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, soluta!</p>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-error">
						<h6>This is a error message box</h6>
						<a href="#" class="close fa fa-times"></a>
					</div>

					<div class="alert alert-error">
						<h6>This is a error message box</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, soluta!</p>
						<a href="#" class="close fa fa-times"></a>
					</div>
				</div>
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-4">
					<div class="widget">
						<div class="widget-content">
							<img class="logo" src="img/header-logo.png" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sunt illum dolore dolor vel perferendis nisi sequi laudantium porro blanditiis!</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-4">
					<div class="widget">
						<h6 class="widget-title">Navigation</h6>

						<div class="widget-content">
							<div class="row">
								<div class="col-xs-6 col-sm-12 col-md-6">
									<ul class="footer-links">
										<li><a href="#">Home</a></li>
										<li><a href="#">Jobs</a></li>
										<li><a href="#">Candidates</a></li>
										<li><a href="#">Partners</a></li>
									</ul>
								</div>

								<div class="col-xs-6 col-sm-12 col-md-6">
									<ul class="footer-links">
										<li><a href="#">About Us</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Terms &amp; Conditions</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-2">
					<div class="widget">
						<h6 class="widget-title">Follow Us</h6>

						<div class="widget-content">
							<ul class="footer-links">
								<li><a href="#">Blog</a></li>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Youtube</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-2">
					<div class="widget">
						<h6 class="widget-title">Popular Jobs</h6>

						<div class="widget-content">
							<ul class="footer-links">
								<li><a href="#">Web Developer</a></li>
								<li><a href="#">Web Designer</a></li>
								<li><a href="#">UX Engineer</a></li>
								<li><a href="#">Account Manager</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<p>&copy; Copyright 2014 <a href="#">Careers</a> | All Rights Reserved | Powered by <a href="#">UOU Apps</a></p>

				<ul class="footer-social">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
				</ul>
			</div>
		</div>
	</footer> <!-- end #footer -->

</div> <!-- end #main-wrapper -->

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
<script src="js/maplace.min.js"></script>
<script src="js/jquery.ba-outside-events.min.js"></script>
<script src="js/jquery.responsive-tabs.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>